* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Catamaran", sans-serif;
    background-color: #e2eaed;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.bg-top {
    background: url(../images/bg-top.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    padding-top: 15px;
}

.header {
    background: linear-gradient( 180deg, rgba(249, 249, 246, 0.767) 0%, rgba(255, 255, 255) 100%);
    width: 90%;
    margin: 0 auto;
}

.image {
    text-align: center;
    text-transform: uppercase;
}

.image p {
    font-weight: 600;
    font-size: 1.5rem;
    color: #000000;
}

.image h1 {
    font-style: normal;
    font-weight: bold;
    color: #5c5c5c;
}

.image h2 {
    color: #656565;
}

.about {
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.about h4,
h2 {
    line-height: 1.3;
    text-transform: uppercase;
}

.about h4 {
    color: #656565;
}

.about h2 {
    color: #161616;
}

.skills {
    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), url(../images/skills-bg.jpg) no-repeat;
    background-size: cover;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.skills h4,
h2 {
    line-height: 1.3;
    text-transform: uppercase;
}

.skills h4 {
    color: #656565;
}

.skills h2 {
    color: #161616;
}

.skills ul {
    width: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.skills ul li {
    background-color: #000000;
    color: #fff;
    margin: 10px 5px;
    width: 120px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 8px;
}

.education {
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

.education h2 {
    padding-left: 10px;
}

.year h2 {
    margin-top: 10px;
}

.education h3 {
    padding-left: 10px;
    text-transform: uppercase;
}

.edu-1 {
    width: 95%;
    margin: 0 auto 20px;
    border: 2px solid #3d7892;
    border-radius: 5px;
    padding: 10px 0;
}

.edu-1 p {
    padding-left: 10px;
}

.projects {
    background-color: #434343;
    color: #fff;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.projects h4,
h2 {
    line-height: 1.3;
    text-transform: uppercase;
}

.projects h4 {
    padding: 10px 0 0;
    color: #9b9b9b;
}

.projects h2 {
    color: #fff;
    padding-bottom: 10px;
}

.project {
    padding: 15px 0;
}

.footer {
    background: url(../images/bg-bottom.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    padding-bottom: 20px;
}

.contact {
    background: linear-gradient( 180deg, #ffffff 0%, rgba(249, 249, 249, 0.48) 100%);
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.contact h4,
h2 {
    line-height: 1.3;
    text-transform: uppercase;
}

.contact h4 {
    padding: 10px 0 0;
    color: #9b9b9b;
}

.contact h2 {
    color: #000;
    padding-bottom: 10px;
}

.contact i {
    color: #004754;
    font-size: 1.4rem;
}

.phone,
.email {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.phone a {
    padding-left: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

.email a {
    padding-left: 10px;
    color: #000;
    font-weight: 600;
}

.email a:hover,
.email a:focus {
    color: #004754;
}

.slang p {
    color: #004754;
    font-weight: 600;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px 0;
}

.social i {
    cursor: pointer;
    margin: 0 20px;
}

.social i:hover,
.social i:focus {
    color: #000;
}

.copyright {
    text-align: center;
    font-weight: 700;
    font-size: 1.1rem;
}

.copyright a {
    cursor: pointer;
}

.copyright a:hover,
.copyright a:focus {
    color: #000;
}

@media (min-width: 500px) {
    .header,
    .about,
    .skills,
    .education,
    .projects,
    .contact {
        max-width: 500px;
        margin: 0 auto;
    }
}